@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.click-effect{
  animation: click 0.5s forwards ease-in-out;
}

@mixin scale-and-glow($name, $color, $small, $large) {
  @keyframes #{$name} {
    0%,
    100% {
      filter: drop-shadow(0 0 #{$small} #{$color})
    }
    50% {
      filter: drop-shadow(0 0 #{$large} #{$color});
    }
  }

  & {
    animation: #{$name} 2s infinite ease-in-out;
  }
}

@mixin scale-quest-reward($name, $color, $small, $large) {
  @keyframes #{$name} {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  & {
    animation: #{$name} 1s  ease-in-out;
  }
}

.scale-reward {
  @include scale-quest-reward(scale-quest-reward-animation, white, 5px, 30px);
}


@mixin scale-in-out(
  $keyframe-name,
  $start-scale,
  $end-scale,
  $duration: 1s,
  $timing-function: ease-in-out,
  $iteration-count: 1,
  $delay: 0
) {
  @keyframes #{$keyframe-name} {
    0%,
    100% {
      transform: scale(#{$start-scale});
    }
    50% {
      transform: scale(#{$end-scale});
    }
  }

  & {
    animation: #{$keyframe-name} #{$duration} #{$timing-function} #{$iteration-count};
    animation-delay: $delay;
  }
}

@keyframes scale-reward {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-from-zero {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes scale-from-star{
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes scale-to-star{
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fadeBody {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveAndFade {
  0% {
    opacity: 1;
    transform: translateY(-200px);
  }
  100% {
    opacity: 0;
    transform: translateY(-500px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bubble-spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

.bubble-spin-effect{
  animation:bubble-spin 4s linear infinite;
}



// Scale and Glow Animations
.scale-loader-glow {
  @include scale-and-glow(scale-loader-glow-animation, white, 5px, 30px);
}

.scale-loader-gold-glow {
  @include scale-and-glow(scale-loader-gold-glow-animation, #FFD660, 5px, 30px);
}


@keyframes scale-more {
  0%,
  100% {
    filter:drop-shadow(0 0 10px #FFD660)
    drop-shadow(0 0 30px #FFD660)
    drop-shadow(0 0 80px #FFD660);
  }
  50% {
    filter:drop-shadow(0 0 10px #FFD660)
    drop-shadow(0 0 70px #FFD660);
  }
}

.scale-golden-glow {
  animation: scale-more 2s ease-in-out infinite;
}

.scale-wheel-glow {
  @include scale-and-glow(scale-wheel-glow-animation, black, 5px, 50px);
}

.scale-wheel-gold-glow {
  @include scale-and-glow(scale-wheel-glow-animation, #ffb800, 5px, 30px);
}


// Scale in and out Animations
.scale-symbol {
  animation: scale-reward 1.5s ease-in-out;
}

.scale-box {
  @include scale-in-out(scale-box-animation, 1, 1.1, 0.8s, ease-in, infinite, 0);
}

.scale-hand {
  @include scale-in-out(scale-hand-animation, 2, 5, 1s, ease-in, infinite, 0);
}

.scale-point{
  @include scale-in-out(scale-hand-animation, 1, 1.3, 0.5s, ease-in, infinite, 0);
}

.scale-once-hold{
  @include scale-in-out(scale-once-animation, 1, 1.3, 1s, ease-in, 1, 0.5);
}


.scale-icon{
  @include scale-in-out(scale-hand-animation, 1, 1.3, 0.5s, ease-in, 1, 0);
}

.scale-none {
  animation: none;
}

// Scale from zero to full animation
.scale-zero {
  animation: scale-from-zero 1s ease-in-out;
}

.maximize-star {
  animation: scale-from-star 1s ease-in-out;
}

.minimize-star {
  animation: scale-to-star 1s ease-in-out;
}


// White Flash Animation

.flash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.flash-overlay.show {
  opacity: 1;
  animation: fadeBody 0.5s ease-in-out forwards;
}

// Spin Animation
.animate-spin-slow {
  animation: spin 3s linear infinite;
}

/* Plus one aimation */
.plus-one {
  position: absolute;
  font-size: 55px;
  margin-top: 50px;
  color: rgba(255, 247, 220, 1);
  animation: moveAndFade 1s forwards;
}

@keyframes minusMoveAndFade {
  0% {
    opacity: 1;
    scale: 1;
    transform: translateY(-200px);
  }
  100% {
    opacity: 0;
    scale: 0.75;
    transform: translateY(-800px);
  }
}


.minus-one {
  position: absolute;
  font-size: 65px;
  margin-top: 50px;
  color: rgba(255, 247, 220, 1);
  animation: minusMoveAndFade 2s forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@mixin slide($name, $initial, $final) {
  @keyframes #{$name} {
    0%{
      transform: translateX($initial);
    }
    100% {
      transform: translateX($final);
    }
  }

  & {
    animation: #{$name} 0.25s  ease-in-out forwards;
  }
}

@mixin slideHeader($name, $initial, $final, $after) {
  @keyframes #{$name} {
    0%{
      transform: translateX($initial);
    }
    50% {
      transform: translateX($final);
    }
    100% {
      transform: translateX($after);
    }
  }

  & {
    animation: #{$name} 1.25s  ease-in-out forwards;
  }
}

@mixin slide-in-out($name, $initial, $final) {
  @keyframes #{$name} {
    0% {
      transform: translateX($initial);
      opacity: 1;
    }
    30% {
      transform: translateX($final);
      opacity: 1;
    }
    70% {
      transform: translateX($final);
      opacity: 1;
    }
    100% {
      transform: translateX($initial);
      opacity: 0;
    }
  }

  & {
    animation: #{$name} 1.5s ease-in-out forwards;
  }
}


@mixin slideY($name, $initial, $final) {
  @keyframes #{$name} {
    0%{
      transform: translateY($initial);
    }
    100% {
      transform: translateY($final);
    }
  }

  & {
    animation: #{$name} 0.25s  ease-in-out forwards;
  }
}




.popup{
  animation: slideMinionUp 0.25s ease-in-out forwards;
}

.popdown{
  animation: slideMinionDown 0.25s ease-in-out forwards;
}

.minimize{
  @include slideY(slide-down-animation, 0%, 100%);
}

.minimize-head{
  @include slideY(slide-up-head-animation, 0%, -100%);
}

.maximize-head{
  @include slideY(slide--head-animation, -100%, 0%);
}

.maximize{
  @include slideY(slide-up-animation, 100%, 0%);
}

.minimize-booster{
  @include slideY(slide-down-b-animation, 0%, 250%);
}

.maximize-booster{
  @include slideY(slide-up-b-animation, 250%, 0%);
}

@keyframes starActiveBeam {
  0% {
    height: 0;
  }
  100% {
    height: 140vw;
  }
}

@keyframes starInactiveBeam {
  0% {
    height: 140vw;;
  }
  100% {
    height: 0;
  }
}

.star-beam-active {
  animation: starActiveBeam 0.5s ease-in-out forwards;
}

.star-beam-inactive {
  animation: starInactiveBeam 0.5s ease-in-out forwards;
}



// ==============================================

.slide-header-left{
  @include slideHeader(slide-header-left-animation, -100%, 0%, -42%);
}

.slide-header-right{
  @include slideHeader(slide-header-right-animation, 100%, 0%, 42%);
  }

.slide-ror-header-left{
  @include slideHeader(slide-header-left-animation, -100%, 0%, -5%);
}

.slide-ror-header-right{
  @include slideHeader(slide-header-right-animation, 100%, 0%, 5%);
  }

.slide-away-left{
  @include slide(slide-away-left-animation, 0%, -100%);
}

.slide-inside-left{
@include slide(slide-inside-left-animation, -100%, 0%);
}

.slide-away-right{
  @include slide(slide-away-right-animation, 0%, 100%);
}

.slide-inside-right{
@include slide(slide-inside-right-animation, 100%, 0%);
}

.slide-in-out-left{
  @include slide-in-out(slide-insout-left-animation, 0px, 20px);
}

.slide-in-out-right{
  @include slide-in-out(slide-insout-right-animation, 0px, -20px);
}



@keyframes slideMinionUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideMinionDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}


.wave {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 200%;
  height: 200px;
  background: rgba(255, 255, 255, 0.3);
  opacity: 0.7;
  border-radius: 100%;
  animation: wave 4s infinite linear;
}

.wave2 {
  animation: wave 4s infinite linear;
  animation-delay: 2s;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(10px);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeleton {
  background: #414141;
  background: linear-gradient(110deg, #414141 8%, #f5f5f56a 25%, #414141 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 3s shine linear infinite;
}

.gelatine {
  animation: gelatine 0.5s infinite;
}
// @keyframes gelatine {
//   from, to { transform: scale(1, 1); }
//   25% { transform: scale(0.9, 1.1); }
//   50% { transform: scale(1.1, 0.9); }
//   75% { transform: scale(0.95, 1.05); }
// }


@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.95, 1.05); }
  50% { transform: scale(1.05, 0.95); }
  75% { transform: scale(0.98, 1.02); }
}


$first-place-height: 22vh;
$second-place-height: 19.25vh;
$third-place-height: 17vh;

@mixin rise-up($name, $height, $delay) {
  @keyframes rise-up-#{$name} {
    0% {
      height: 0;
    }
    100% {
      height: #{$height};
    }
  }

  & {
    animation: rise-up-#{$name} 0.5s ease-out forwards;
    animation-delay: $delay;
  }
}

.rise-up-first {
  @include rise-up('first', $first-place-height, 0s);
}

.rise-up-second {
  @include rise-up('second', $second-place-height, 0.25s);
}

.rise-up-third {
  @include rise-up('third', $third-place-height, 0.5s);
}

@keyframes shake-lg {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(5deg) scale(1.15); }
  50% { transform: rotate(0deg) scale(0.95); }
  75% { transform: rotate(-5deg) scale(1.15); }
  100% { transform: rotate(0deg) scale(1); }
}

@keyframes shake-sm {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(2deg) scale(1.05); }
  50% { transform: rotate(0deg) scale(0.95); }
  75% { transform: rotate(-2deg) scale(1.05); }
  100% { transform: rotate(0deg) scale(1); }
}

@keyframes scale-sm {
  0% { transform: rotate(0deg) scale(1); }
  100% { transform: rotate(0deg) scale(1.15); }
}

.tut-shake{
  animation: shake-lg 1s infinite ;
}

.pop-shake{
  animation: shake-sm 0.5s infinite ;
}

.pop-scale{
  animation: scale-sm 0.5s infinite ;
}

@keyframes move-diagonal {
  0% {
    top: 80%; // Starting from the bottom right
    right: 0;
  }
  100% {
    top: 50%; // Moving to the center
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.move-circle{
  animation: move-diagonal 1.5s forwards;
}


@keyframes shake {
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(5deg) scale(1.15); }
  50% { transform: rotate(0deg) scale(0.95); }
  75% { transform: rotate(-5deg) scale(1.15); }
  100% { transform: rotate(0deg) scale(1); }
}

@keyframes move-shake {
  0% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
  20% {
    transform: translateY(-15vh) rotate(5deg) scale(1.15);
  }
  40% {
    transform: translateY(-12vh) rotate(0deg) scale(0.95);
  }
  60% {
    transform: translateY(-15vh) rotate(-5deg) scale(1.15);
  }
  80% {
    transform: translateY(-12vh) rotate(0deg) scale(0.95);
  }
  100% {
    transform: translateY(0) rotate(0deg) scale(1);
  }
}
.shake-booster{
  animation: move-shake 2s forwards ease-in-out;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.25s;
}

.fade-in-intro {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 3s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 1;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 2s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.pulse-text {
  animation: pulse-orange 1.5s infinite;
  border-radius: 100px;
  cursor: pointer;
  text-align: center;
}

$myths: "greek", "celtic", "norse", "egyptian", "other", "white";

@each $myth in $myths {
  .pulse-drop-#{$myth} {
    animation: pulse-drop-#{$myth} 1s infinite;
    cursor: pointer;
    text-align: center;
  }

  @keyframes pulse-drop-#{$myth} {
    0% {
      transform: scale(0.99);
      box-shadow: 0 0 0 0 var(--#{$myth}-color);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 20px var(--#{$myth}-color-transparent); 
    }
    100% {
      transform: scale(0.99);
      box-shadow: 0 0 0 0 var(--#{$myth}-color-transparent);
    }
  }
}


@keyframes pulse-orange {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 #ffb800;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(255, 121, 63, 0);
  }
  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
  }
}

.text {
  position: relative;
  display: inline-block;
}

.text .text-bottom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  animation: glow-effect 1.5s infinite;
}

@keyframes glow-effect {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1.25);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes move-and-scale {
  0% {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
  }
  50% {
    top: 84%;
    left: 95%;
    transform: translate(-100%, -10%) scale(1); 
  }
  80% {
    top: 84%;
    left: 95%;
    transform: translate(-100%, -10%) scale(1.3); 
  }
  100% {
    top: 84%;
    left: 95%;
    transform: translate(-100%, -10%) scale(1); 
  }
}

.move-hand {
  animation: move-and-scale 1.5s ease-in-out forwards;
}



@keyframes disappear-effect {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.95);
  }
}

.disappear {
  animation: disappear-effect 0.3s ease-in-out forwards;
  animation-delay: 0.05s;
}

.background-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out, filter 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .bg-image--prev {
    opacity: 0;
    filter: blur(2px);
    z-index: 1;
  }

  .bg-image--current {
    opacity: 1;
    filter: blur(0);
    z-index: 2;
  }
}


@keyframes reward-pop-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 1;
    transform: scale(1.1); // slight overshoot
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.reward-pop-in {
  animation: reward-pop-in 0.5s ease-out forwards;
}

