
/* Backgrounds */
.filter-celtic {
    filter: brightness(100%) invert(5%) sepia(12%) saturate(1237%) hue-rotate(48deg) brightness(90%) contrast(104%);
  }
  
  .filter-norse{
    filter: brightness(100%)  invert(10%) sepia(15%) saturate(1237%) hue-rotate(171deg) brightness(90%) contrast(104%);
  }
  
  .filter-egyptian{
    filter: brightness(100%)  invert(5%) sepia(22%) saturate(600%) hue-rotate(6deg) brightness(90%) contrast(104%);
  }
  
  .filter-greek{
    filter: brightness(100%)  invert(5%) sepia(23%) saturate(700%) hue-rotate(-14deg) brightness(90%) contrast(104%);
  }
  
  .filter-other{
    filter: brightness(110%) invert(5%) sepia(6%) saturate(800%) hue-rotate(319deg) brightness(90%) contrast(104%);
  }
  
  .filter-card{
    /* filter: brightness(98%) contrast(150%) grayscale(100%) saturate(122%); */
    filter: brightness(66%) contrast(172%) grayscale(100%) saturate(151%);
  }
  
  /* Orbs */
  
  .filter-orbs-celtic {
    filter: brightness(100%) invert(5%) sepia(12%) saturate(1237%) hue-rotate(48deg) brightness(90%) contrast(104%);
  }
  
  .filter-orbs-egyptian{
    filter:
    brightness(150%)  invert(20%) sepia(20%) saturate(2000%) hue-rotate(16deg) contrast(104%);
  }
  
  .filter-orbs-greek{
    filter:
    brightness(100%)  invert(5%) sepia(13%) saturate(1537%) hue-rotate(-65deg) brightness(90%) contrast(104%);
  }
  
  .filter-orbs-norse{
    filter: brightness(100%)  invert(10%) sepia(15%) saturate(1237%) hue-rotate(171deg) brightness(90%) contrast(104%);
  }
  
  .filter-orbs-white{
    filter:
    brightness(100%) invert(5%)  saturate(137%) brightness(220%) contrast(104%);
  }

  
  
  /* Header-Footers */
  
  .filter-paper-celtic {
    filter: brightness(100%) invert(5%) sepia(12%) saturate(1237%) hue-rotate(48deg) brightness(90%) contrast(104%);
  }
  
  .filter-paper-egyptian{
    filter: brightness(100%)  invert(5%) sepia(22%) saturate(600%) hue-rotate(6deg) brightness(90%) contrast(104%);
  }
  
  .filter-paper-norse{
    filter: brightness(60%)  invert(10%) sepia(15%) saturate(1037%) hue-rotate(171deg) brightness(90%) contrast(104%);
  }
  
  .filter-paper-greek{
    filter: brightness(100%)  invert(5%) sepia(20%) saturate(700%) hue-rotate(-50deg) brightness(90%) contrast(104%);
  }
  
  .filter-paper-other{
    filter: brightness(75%) invert(5%) sepia(6%) saturate(800%) hue-rotate(319deg) brightness(90%) contrast(104%);
  }
  
  