
.glow-box {
  filter: drop-shadow(0 0 10px #FFFF00)
          /* drop-shadow(0 0 20px #FFD660) */
          drop-shadow(0 0 70px #FFD660);
}

.glow-box-scale {
  filter: drop-shadow(0 0 10px #FFFF00)
          drop-shadow(0 0 30px #FFD660)
          drop-shadow(0 0 80px #FFFF00);
}


.flash-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0; 
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
}

.flash-overlay.show {
  opacity: 1; 
  animation: fadeBody 0.5s ease-in-out forwards;
}

@keyframes fadeBody {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale-in-out {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes scale-hand-in-out {
  0%, 100% {
    transform: scale(2);
  }
  50% {
    transform: scale(5);
  }
}

@keyframes invert-colors {
  0%, 100% {
    filter: grayscale(100%) contrast(100%);
  }
  50% {
    filter: grayscale(100%) contrast(100%) invert(100%);
  }
}

.scale-none {
  animation: none; 
}

.scale-more {
  animation: scale-in-out 1s infinite ease-in-out;
}

.invert-gacha {
  animation: invert-colors 2s infinite ease-in-out;
}

.scale-hand {
  animation: scale-in-out 1s infinite ease-in-out;
}

@keyframes scale-from-zero {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

.scale-zero {
  animation: scale-from-zero 1s ease-in-out;
}

/* Plus one aimation */
.plus-one {
  position: absolute;
  font-size: 55px;
  color: rgba(255, 247, 220, 1);
  animation: moveAndFade 1s forwards;
}

@keyframes moveAndFade {
  0% {
    opacity: 1;
    transform: translateY(-200px);
  }
  100% {
    opacity: 0;
    transform: translateY(-500px);
  }
}
